    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Jane Hammond is a senior journalism major and Spanish minor at Mercer University in Macon, Ga. She is first and foremost a sports journalist, working at <i>The (Macon) Telegraph</i> and Georgia Public Broadcasting.</p>
                <p>She is manager of SB Nation's Atlanta Braves blog <a href="http://talkingchop.com">Talking Chop</a> and a contributing editor to <a href="http://peachtreehoops.com">Peachtree Hoops</a>. She has previously interned with iHeartMedia, co-hosting a two-hour Mercer Football pregame tailgate radio show, <a href="http://al.com">AL.com</a> and GPB as a Mercer Football coorespondent.</p>
                <p>She is a big fan of Mercer basketball (yes, she was there when they beat Duke), neon nail polish and owls.</p>

            </div>
        </div>
    </div>

    <hr>
