    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="http://www.npr.org/2014/05/10/311254823/youth-football-clinics-try-a-new-angle-to-prevent-concussions">
                        <h2 class="post-title">
                            Youth Football Clinics Try A New Angle To Prevent Concussions
                        </h2>
                        <h3 class="post-subtitle">
                            On a windy day in in Macon, Ga., dozens of second-graders are standing on a university football field, crowded around Atlanta Falcons rookie Terren Jones.
                        </h3>
                    </a>
                    <p class="post-meta">Published by NPR on May 10, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                <a href="http://www.macon.com/2014/11/21/3438448/morgan-tattnall-square-keep-on.html">
                    <h2 class="post-title">Morgan, Tattnall Square keep on working</h2>
                    <h3 class="post-subtitle">Holding practices during what would normally be a week of Thanksgiving vacation was a goal for Clint Morgan, a sign that his team had accomplished what it set out to do in its first season in the GHSA.</h3>
                    </a>
                    <p class="post-meta">Published by The Telegraph on November 21, 2014</p>
                </div>

                <hr>
                <div class="post-preview">
                    <a href="http://www.macon.com/2014/11/14/3424490/mercer-gets-off-to-strong-start.html">
                        <h2 class="post-title">
                            Mercer gets off to strong start to basketball season
                        </h2>
                        <h3 class="post-subtitle">For the seventh straight year under head coach Bob Hoffman, the Bears won their home opener, beating Piedmont College 88-48 on Friday in a game that was rarely a struggle.</h3>
                    </a>
                    <p class="post-meta">Published by The Telegraph on November 14, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="http://www.macon.com/2014/11/07/3411815_jones-county-top-warner-robins.html">
                        <h2 class="post-title">
                            Jones County tops Warner Robins to clinch playoff spot
                        </h2>
                        <h3 class="post-subtitle">
                            There was no need for the literal fireworks above the Greyhound Field scoreboard Friday night.
                        </h3>
                    </a>
                    <p class="post-meta">Published by The Telegraph on November 7, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="http://www.gpb.org/news/2014/03/24/elation-segues-to-disappointment-as-mercer-basketball-falls-to-tennessee-following-d">
                        <h2 class="post-title">
                           Elation Segues To Disappointment As Mercer Basketball Falls To Tennessee Following Duke Upset
                        </h2>
                        <h3 class="post-subtitle">
                            Mercer University basketball fans are back down to earth after the Bears lost to the University Tennessee by 20 points Sunday night.
                        </h3>
                    </a>
                    <p class="post-meta">Published by GPB on March 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="http://www.macon.com/2014/02/05/2917756/fpds-samuel-signs-with-north-carolina.html">
                        <h2 class="post-title">
                            FPD's Samuel signs with North Carolina
                        </h2>
                        <h3 class="post-subtitle">
                            Dressed in a baby blue shirt and a North Carolina tie, Caleb Samuel showed no signs of a last-minute National Signing Day surprise.
                        </h3>
                    </a>
                    <p class="post-meta">Published by The Telegraph on February 5, 2014</p>
                </div>
            </div>
        </div>
    </div>

    <hr>