    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<h2 class="section-heading">Experience</h2>
<p><b>Freelancer, <i>The Telegraph</i>; Macon, Ga. — Aug. 2013-Present</b></p>
<p>Currently on third of four semesters spent embedded 10-12 hours a week in a working newsroom for a daily newspaper. Write player features, game stories, game previews and sidebars for high school football, basketball, soccer, tennis and college basketball. Maintain statistics for games as needed.</p>

<p><b>Intern, iHeartMedia, Inc.; Macon, Ga. — Aug. 2014-Present</b></p>
<p>Co-host of two-hour Mercer Tailgate Show on local sports radio station. Interview at-length two players every week, edit audio and set up remote broadcasts with radio equipment.</p>

<p><b>Intern, <a href="http://AL.com">AL.com</a> and <i>The Huntsville Times</i>; Huntsville, Ala. — June 2014-July 2014</b></p>
<p>Covered local sports for the Huntsville market by writing features and news stories of interest beyond the box scores. Headed AL.com’s World Cup coverage, utilizing SEO-friendly techniques on posts that helped Huntsville hub reach traffic goals by 103 percent.</p>

<p><b>Intern, Georgia Public Broadcasting; Macon, Ga. — Aug. 2013-Dec. 2013</b></p>
<p>Cover Mercer University’s football team as the first sports-only beat reporter for GPB. Write, record, and edit pregame, postgame and feature pieces about the team and its effect on the Mercer and Macon community for local and statewide radio and web.</p>

<p><b>Manager, <a href="http://talkingchop.com">TalkingChop.com</a>, and Copy Editor, <a href="http://peachtreehoops.com">PeachtreeHoops.com</a>; Vox Media — July 2013-Present</b></p>
<p>Edit the content and HTML of every news, game, feature and analytical story posted on the top Atlanta Braves and Atlanta Hawks blogs. Write fan news and player interaction features.</p>

<h2 class="section-heading">Education</h2>
<p><b>Mercer University, Center for Collaborative Journalism; Macon, Ga.</b></p>
<p>Bachelor of Arts in Journalism, Minor in Spanish, May 2015; Overall GPA: 3.1; Major GPA: 3.57.</p>

<h2 class="section-heading">Skills</h2>
<p>Experienced at writing on deadline. Proficient in Ruby, HTML, CSS, Movable Type, Microsoft Office suite, Photoshop, Windows and HTML. Adept at keeping football, basketball, soccer, tennis and baseball statistics. Conversational in Spanish.</p>

<h2 class="section-heading">References</h2>
<p>Daniel Shirley, Sports Editor, <i>The Telegraph</i><br />
<a href="mailto:dshirley@macon.com">dshirley@macon.com</a>, 478.744.4227</p>

<p>Adam Ragusea, Journalist in Residence and Visiting Assistant Professor of Journalism,
Mercer University<br />
<a href="mailto:ragusea_ac@mercer.edu">ragusea_ac@mercer.edu</a>, 478.301.2921</p>

<p>Mark McCarter, Columnist, AL.com and <i>The Huntsville Times</i><br />
<a href="mailto:mmccarter@al.com">mmccarter@al.com</a>, 256.509.9539</p>
            </div>
        </div>
    </div>
    <hr>
