    <article>
        <div class="container">
            <div class="row">
                <div>
                <center><table width="100%">
                    <tr>
                        <th><h3>My Twitter feed</h3> Powered by Ruby</th>
                        <th><h3>My Instagram feed</h3> Powered by Ruby</th></tr>
                    <tr><td width="50%"><% @search_results.each do |tweet| %>
                <p><b><a href="http://twitter.com/inthecalzone"><%= tweet.user.screen_name %></a></b>: <%= tweet.text %></p> 
                <% end %>
                    </td>
                        
                    <td width="50%">
		            <% @ig_results.each do|media_item| %>
                    <img src="<%= media_item.images.thumbnail.url %>" alt="@inthecalzone" >
                    
                    <% end %>
                    </td>
                    
                    </tr></table></center>
                </div>
            </div>
        </div>
    </article>

    <hr>

 